SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_PASSWORD=your16digitGoogleAppPasswordForEmail
SMTP_USERNAME=abdulroufsidhu

DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_NAME=chronosync
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres

FRONTEND_URL=http://localhost:3000
EMAIL_FROM=noreply@chronosync.com