.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

.env
.env.docker

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.iproj
out/
!**/src/main/**/.idea/
!**/src/test/**/.idea/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
!**/src/main/**/.apt_generated/
!**/src/test/**/.apt_generated/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Application ###
application-local.yml
application-prod.yml
*.log

### OS ###
.DS_Store
Thumbs.db
